.sidebar{
    -fx-background-image: url("../../images/sidebar.png");
    -fx-background-position: center, center;
    -fx-background-repeat: stretch;
}

.car{
    -fx-background-image: url("../../images/car.png");
    -fx-background-position: center, center;
    -fx-background-repeat: stretch;
}

.miniCar{
    -fx-background-image: url("../../images/miniCar.png");
    -fx-background-position: center, center;
    -fx-background-repeat: stretch;
}

.button{
    -fx-background-image: url("../../images/button.png");
    -fx-background-position: center, center;
    -fx-background-repeat: stretch;
}


